---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Dimensions
$max-content-width: {{ site.max_width }};
@import
"variables",
"themes",
"layout",
"base",
"distill",
"cv"
;

body {
  font-size: 18px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}

.container {
  max-width: 65%;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    max-width: 90% !important;
  }
  body {
    font-size: 16px !important;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    max-width: 100% !important;
    padding: 0 15px;
  }
  body {
    font-size: 15px !important;
  }
}